test1/src/main/resources/CalculatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://serivces.ruks.com" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://serivces.ruks.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://serivces.ruks.com">
            <xs:element name="setX">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="x" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="setY">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="y" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSum">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getSumResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getSumRequest">
        <wsdl:part name="parameters" element="ns:getSum"/>
    </wsdl:message>
    <wsdl:message name="getSumResponse">
        <wsdl:part name="parameters" element="ns:getSumResponse"/>
    </wsdl:message>
    <wsdl:message name="setXRequest">
        <wsdl:part name="parameters" element="ns:setX"/>
    </wsdl:message>
    <wsdl:message name="setYRequest">
        <wsdl:part name="parameters" element="ns:setY"/>
    </wsdl:message>
    <wsdl:portType name="CalculatorServicePortType">
        <wsdl:operation name="getSum">
            <wsdl:input message="ns:getSumRequest" wsaw:Action="urn:getSum"/>
            <wsdl:output message="ns:getSumResponse" wsaw:Action="urn:getSumResponse"/>
        </wsdl:operation>
        <wsdl:operation name="setX">
            <wsdl:input message="ns:setXRequest" wsaw:Action="urn:setX"/>
        </wsdl:operation>
        <wsdl:operation name="setY">
            <wsdl:input message="ns:setYRequest" wsaw:Action="urn:setY"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorServiceSoap11Binding" type="ns:CalculatorServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSum">
            <soap:operation soapAction="urn:getSum" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setX">
            <soap:operation soapAction="urn:setX" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setY">
            <soap:operation soapAction="urn:setY" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceSoap12Binding" type="ns:CalculatorServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getSum">
            <soap12:operation soapAction="urn:getSum" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setX">
            <soap12:operation soapAction="urn:setX" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setY">
            <soap12:operation soapAction="urn:setY" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="CalculatorServiceHttpBinding" type="ns:CalculatorServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getSum">
            <http:operation location="getSum"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="setX">
            <http:operation location="setX"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="setY">
            <http:operation location="setY"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="CalculatorServiceHttpSoap11Endpoint" binding="ns:CalculatorServiceSoap11Binding">
            <soap:address location="http://localhost:8080/axis2/services/CalculatorService"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpSoap12Endpoint" binding="ns:CalculatorServiceSoap12Binding">
            <soap12:address location="http://localhost:8080/axis2/services/CalculatorService"/>
        </wsdl:port>
        <wsdl:port name="CalculatorServiceHttpEndpoint" binding="ns:CalculatorServiceHttpBinding">
            <http:address location="http://localhost:8080/axis2/services/CalculatorService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
