test1/src/main/resources/CustomUIAdminService.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://services.custom.registry.carbon.wso2.org" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://services.custom.registry.carbon.wso2.org">
   <wsdl:documentation>CustomUIAdminService</wsdl:documentation>
   <wsdl:types>
      <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://services.custom.registry.carbon.wso2.org">
         <xs:element name="CustomUIAdminServiceException">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="CustomUIAdminServiceException" nillable="true" type="ns:Exception"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:complexType name="Exception">
            <xs:sequence>
               <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string"></xs:element>
            </xs:sequence>
         </xs:complexType>
         <xs:element name="updateTextContent">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="updateTextContentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isAuthorized">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="action" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="isAuthorizedResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getTextContent">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="path" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="getTextContentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addTextContent">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="parentPath" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="resourceName" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="mediaType" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"></xs:element>
                  <xs:element minOccurs="0" name="content" nillable="true" type="xs:string"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="addTextContentResponse">
            <xs:complexType>
               <xs:sequence>
                  <xs:element minOccurs="0" name="return" type="xs:boolean"></xs:element>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:schema>
   </wsdl:types>
   <wsdl:message name="isAuthorizedRequest">
      <wsdl:part name="parameters" element="ns:isAuthorized"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="isAuthorizedResponse">
      <wsdl:part name="parameters" element="ns:isAuthorizedResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="updateTextContentRequest">
      <wsdl:part name="parameters" element="ns:updateTextContent"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="updateTextContentResponse">
      <wsdl:part name="parameters" element="ns:updateTextContentResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="CustomUIAdminServiceException">
      <wsdl:part name="parameters" element="ns:CustomUIAdminServiceException"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="addTextContentRequest">
      <wsdl:part name="parameters" element="ns:addTextContent"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="addTextContentResponse">
      <wsdl:part name="parameters" element="ns:addTextContentResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getTextContentRequest">
      <wsdl:part name="parameters" element="ns:getTextContent"></wsdl:part>
   </wsdl:message>
   <wsdl:message name="getTextContentResponse">
      <wsdl:part name="parameters" element="ns:getTextContentResponse"></wsdl:part>
   </wsdl:message>
   <wsdl:portType name="CustomUIAdminServicePortType">
      <wsdl:operation name="isAuthorized">
         <wsdl:input message="ns:isAuthorizedRequest" wsaw:Action="urn:isAuthorized"></wsdl:input>
         <wsdl:output message="ns:isAuthorizedResponse" wsaw:Action="urn:isAuthorizedResponse"></wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateTextContent">
         <wsdl:input message="ns:updateTextContentRequest" wsaw:Action="urn:updateTextContent"></wsdl:input>
         <wsdl:output message="ns:updateTextContentResponse" wsaw:Action="urn:updateTextContentResponse"></wsdl:output>
         <wsdl:fault message="ns:CustomUIAdminServiceException" name="CustomUIAdminServiceException" wsaw:Action="urn:updateTextContentCustomUIAdminServiceException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addTextContent">
         <wsdl:input message="ns:addTextContentRequest" wsaw:Action="urn:addTextContent"></wsdl:input>
         <wsdl:output message="ns:addTextContentResponse" wsaw:Action="urn:addTextContentResponse"></wsdl:output>
         <wsdl:fault message="ns:CustomUIAdminServiceException" name="CustomUIAdminServiceException" wsaw:Action="urn:addTextContentCustomUIAdminServiceException"></wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTextContent">
         <wsdl:input message="ns:getTextContentRequest" wsaw:Action="urn:getTextContent"></wsdl:input>
         <wsdl:output message="ns:getTextContentResponse" wsaw:Action="urn:getTextContentResponse"></wsdl:output>
         <wsdl:fault message="ns:CustomUIAdminServiceException" name="CustomUIAdminServiceException" wsaw:Action="urn:getTextContentCustomUIAdminServiceException"></wsdl:fault>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CustomUIAdminServiceSoap11Binding" type="ns:CustomUIAdminServicePortType">
      <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
      <wsdl:operation name="isAuthorized">
         <soap:operation soapAction="urn:isAuthorized" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateTextContent">
         <soap:operation soapAction="urn:updateTextContent" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap:fault use="literal" name="CustomUIAdminServiceException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addTextContent">
         <soap:operation soapAction="urn:addTextContent" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap:fault use="literal" name="CustomUIAdminServiceException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTextContent">
         <soap:operation soapAction="urn:getTextContent" style="document"></soap:operation>
         <wsdl:input>
            <soap:body use="literal"></soap:body>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal"></soap:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap:fault use="literal" name="CustomUIAdminServiceException"></soap:fault>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="CustomUIAdminServiceSoap12Binding" type="ns:CustomUIAdminServicePortType">
      <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap12:binding>
      <wsdl:operation name="isAuthorized">
         <soap12:operation soapAction="urn:isAuthorized" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateTextContent">
         <soap12:operation soapAction="urn:updateTextContent" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap12:fault use="literal" name="CustomUIAdminServiceException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="addTextContent">
         <soap12:operation soapAction="urn:addTextContent" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap12:fault use="literal" name="CustomUIAdminServiceException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="getTextContent">
         <soap12:operation soapAction="urn:getTextContent" style="document"></soap12:operation>
         <wsdl:input>
            <soap12:body use="literal"></soap12:body>
         </wsdl:input>
         <wsdl:output>
            <soap12:body use="literal"></soap12:body>
         </wsdl:output>
         <wsdl:fault name="CustomUIAdminServiceException">
            <soap12:fault use="literal" name="CustomUIAdminServiceException"></soap12:fault>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:binding name="CustomUIAdminServiceHttpBinding" type="ns:CustomUIAdminServicePortType">
      <http:binding verb="POST"></http:binding>
      <wsdl:operation name="isAuthorized">
         <http:operation location="isAuthorized"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="updateTextContent">
         <http:operation location="updateTextContent"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="addTextContent">
         <http:operation location="addTextContent"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="getTextContent">
         <http:operation location="getTextContent"></http:operation>
         <wsdl:input>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:input>
         <wsdl:output>
            <mime:content type="text/xml" part="parameters"></mime:content>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
   <wsdl:service name="CustomUIAdminService">
      <wsdl:port name="CustomUIAdminServiceHttpsSoap11Endpoint" binding="ns:CustomUIAdminServiceSoap11Binding">
         <soap:address location="https://localhost:8243/services/CustomUIAdminService.CustomUIAdminServiceHttpsSoap11Endpoint"></soap:address>
      </wsdl:port>
      <wsdl:port name="CustomUIAdminServiceHttpsSoap12Endpoint" binding="ns:CustomUIAdminServiceSoap12Binding">
         <soap12:address location="https://localhost:8243/services/CustomUIAdminService.CustomUIAdminServiceHttpsSoap12Endpoint"></soap12:address>
      </wsdl:port>
      <wsdl:port name="CustomUIAdminServiceHttpsEndpoint" binding="ns:CustomUIAdminServiceHttpBinding">
         <http:address location="https://localhost:8243/services/CustomUIAdminService.CustomUIAdminServiceHttpsEndpoint"></http:address>
      </wsdl:port>
   </wsdl:service>
</wsdl:definitions>